footer {
    background-color: #3a2d2d; /* Темный фон для футера */
    color: #fff; /* Белый текст */
    padding: 20px 0; /* Отступы сверху и снизу */
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1); /* Тень для футера */
    font-family: Arial, sans-serif;
}

footer .container {
    display: flex;
    justify-content: space-between; /* Выравниваем элементы футера */
    align-items: center; /* Вертикальное выравнивание по центру */
    max-width: 1200px;
    margin: 0 auto; /* Центрируем контейнер */
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.callback a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s;
}

.callback a:hover {
    border-bottom: 2px solid #817979; /* Подсветка ссылки при наведении */
}

.footer-text {
    font-size: 1rem;
    margin: 0;
}

.date {
    font-size: 1rem;
    opacity: 0.7; /* Полупрозрачность для даты */
}

@media (max-width: 768px) {
    footer .container {
        flex-direction: column; /* Вертикальная компоновка для маленьких экранов */
        text-align: center;
    }

    .footer-content {
        flex-direction: column;
        gap: 10px;
    }

    .callback a {
        font-size: 1rem;
    }

    .footer-text, .date {
        font-size: 0.9rem;
    }
}
